
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.App {
  text-align: center;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}


.image-height{
  height: 230px;
}

@media only screen and (max-width: 600px) {
 .title{

 }
 .mx-20{
   margin: 0;
 }
 .twoSection {
  flex-direction: column;

 }
 .review_mystyle{
   display: flex;
   flex-direction: column;
 }
 .App{
   padding: 20px;
 }
 .firstSection{
   width: auto;
 }
 .my_graph{
  display: flex;
  flex-direction: column;

 }
}